<h1>Angular playwright ci integration app</h1>

<section>
  <h2>Result of first mock server launched with express</h2>
  <p>{{ firstMockServerData$ | async | json }}</p>
</section>

<section>
  <h2>Result of second mock server launched with wiremock</h2>
  <p>{{ secondMockServerData$ | async | json }}</p>
</section>
